<div class="table-responsive">
  <table class="table table-striped" role="grid">
    <thead>
      <tr>
        <th>Titulo</th>
        <th>Descripcion</th>
        <th>Imagen</th>
        <th>Visible</th>
        <th></th>
      </tr>
    </thead>
    <tbody>
      <% @slides.each do |slide| %>
        <tr>
          <td><%= slide.title %></td>
          <td><%= slide.description %></td>
          <td><%= slide.picture %></td>
          <td><%= slide.active %></td>
          <td><%= link_to "Editar",edit_admin_slider_path(slide) %></td>
        </tr>
      <% end %>
    </tbody>
  </table>
</div>