<div class="cart-header">
  <%= form_for order_item, remote: true do |f| %>
    <%= link_to "", order_item, method: :delete, remote: true, class: "close1" %>
    <div class="cart-sec simpleCart_shelfItem">
      <div class="cart-item cyc">
        <img src="images/p4.jpg" class="img-responsive" alt="">
      </div>
       <div class="cart-item-info">
          <h3><%= link_to product.name, products_path(product) %><span>Model No: RL-5511S</span></h3>
        <ul class="qty">
          <li><%= f.number_field :quantity, value: order_item.quantity.to_i, class: "form-control", min: 1 %></li>
          <%= f.hidden_field :product_id, value: product.id %>
          <li><%= f.submit "Update Quantity", class: "item_add items" %></li>
        </ul>              
      </div>
      <div class="clearfix"></div>          
    </div>
  <% end %>
</div>