<% if !@order_item.nil? && @order_item.errors.any? %>
  <div class="alert alert-danger">
    <ul>
    <% @order_item.errors.full_messages.each do |msg| %>
      <li><%= msg %></li>
    <% end %>
    </ul>
  </div>
<% end %>
<% if @order_items.size == 0 %>
  <div class="alert alert-info">  
    <p class="text-center">
      There are no items in your shopping cart.  Please <%= link_to "go back", root_path %> and add some items to your cart.
    </p>
  </div>
<% else %>
  <div class="check-sec">  
    <div class="col-md-3 cart-total">
      <%= link_to "Continue to basket", products_path, class: "continue" %>
      <div class="price-details">
        <h3>Price Details</h3>
        <span>Total</span>
        <span class="total1">6200.00</span>
        <span>Discount</span>
        <span class="total1">10%(Festival Offer)</span>
        <span>Delivery Charges</span>
        <span class="total1">150.00</span>
        <div class="clearfix"></div>         
      </div>  
      <ul class="total_price">
         <li class="last_price"> <h4>TOTAL</h4></li>  
         <li class="last_price"><span><%= current_order.subtotal %></span></li>        
      </ul> 
      <div class="clearfix"></div>
      <div class="clearfix"></div>
      <%= link_to "Place Order", cart_checkout_path, class: "order", method: :post %>
    </div>
    <div class="col-md-9 cart-items">
      <h1>My Shopping Bag (<%= current_order.order_items.size %>)</h1>
      <% @order_items.each do |order_item| %>
        <%= render 'carts/cart_row', product: order_item.product, order_item: order_item, show_total: true %>
      <% end %>
    </div>
    <div class="clearfix"> </div>
  </div>
<% end %>

