<div class="login_sec">
  <div class="container">
    <h2>Login</h2>
    <div class="col-md-6 log">      
      <%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
        <h5>Email</h5> 
        <%= f.email_field :email, autofocus: true %>
        <h5>Contraseña</h5>
         <%= f.password_field :password, autocomplete: "off" %>
         <%= f.submit "Entrar" %>
      <% end %>
      <%= render "admins/shared/links" %>
    </div>
    <div class="clearfix"></div>
  </div>
</div>
