<div class="contact">
  <div class="container">
    <!--start contact-->
    <h3>Contáctenos</h3>
    <div class="section group">       
      <div class="col-md-6 span_1_of_3">
        <div class="contact_info">
          <h4>Encuentranos aquí</h4>
          <div class="map">
            <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d11947.72836758568!2d2.102251500000006!3d41.527411599999986!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x0%3A0xa9484a5980214413!2sRaxa+Distribuciones+1997%2C+Sl!5e0!3m2!1ses!2ses!4v1449418770921"></iframe>
          </div>
        </div>
        <div class="company_address">
          <h4>Información de la empresa:</h4>
          <p>Plaza Ramón Llull, 10</p>
          <p>Sabadell (Barcelona)</p>
          <p>Teléfono: <a href="tel:937464124">937464124</a></p>
          <p>Horario: 9:00 - 14:00 y de 15:00 - 18:00. De Lunes a Viernes.</p>
          <!-- <p>Email: <a href="mailto:info@example.com">info@mycompany.com</a></p> -->
        </div>
      </div>        
      <div class="col-md-6 span_2_of_3">
        <div class="contact-form">
          <%= form_for @contact, url: contact_path do |f| %>
                <div>
                  <span><label>NOMBRE</label></span>
                  <span><%= f.text_field :name %></span>
                  <% unless f.object.errors[:name].empty? %>
                    <span class="label label-warning">
                      <%= f.object.errors[:name].join(", ") %>
                    </span>
                  <% end %>
                </div>
                <div>
                  <span><label>E-MAIL</label></span>
                  <span><%= f.email_field :email %></span>
                  <% unless f.object.errors[:email].empty? %>
                    <span class="label label-warning">
                      <%= f.object.errors[:email].join(", ") %>
                    </span>
                  <% end %>
                </div>
                <div>
                  <span><label>TELÉFONO</label></span>
                  <span><%= f.telephone_field :mobile %></span>
                  <% unless f.object.errors[:mobile].empty? %>
                    <span class="label label-warning">
                      <%= f.object.errors[:mobile].join(", ") %>
                    </span>
                  <% end %>
                </div>
                <div>
                  <span><label>TEMA</label></span>
                  <span><%= f.text_area :subject %></span>
                  <% unless f.object.errors[:subject].empty? %>
                    <span class="label label-warning">
                      <%= f.object.errors[:subject].join(", ") %>
                    </span>
                  <% end %>
                </div>
               <div>
                  <span><%= f.submit "ENVIAR" %></span>
              </div>
              <% end %>

        </div>
      </div>        
    </div>
  </div>
</div>