<div class="product-model">  
  <div class="container">
    <h2>Nuestro productos</h2>  
    <div class="text-center view-selector">
      <div class="btn-group btn-group">
        
      </div>
      <%= form_tag(products_path, :method => "get", class: "form-inline") do %>
        
        <div class="input-group">
          <%= link_to "Lista", products_path(request.query_parameters.merge({mode: "l"})), class: "btn btn-default input-group-addon" %>
          <%= link_to "Gràfico", products_path(request.query_parameters.merge({mode: "g"})), class: "btn btn-default input-group-addon" %>
          <%= text_field_tag :search, params[:search], placeholder: "Buscar", class: "form-control" %>
        </div>

        <%= submit_tag "Buscar", class: "btn btn-success" %>
      <% end %>
    </div> 
    <div class="col-md-9 product-model-sec">
      <% unless params[:mode] == 'l' %>
        <% @products.each do |product| %>
          <%= render "product", product: product, order_item: @order_item %>
        <% end %>
      <% else %>
        <div class="table-responsive">
          <table class="table table-striped">
            <thead>
              <tr>
                <th>Descripción</th> 
                <% if user_signed_in?%>
                  <th>Precio</th> 
                  <th></th>
                <% end %> 
              </tr> 
            </thead> 
            <tbody>
              <% @products.each do |product| %>
                <tr> 
                  <td><%= link_to product.description, product_path(product) %></td> 
                  <% if user_signed_in?%>
                    <td><%= number_to_currency product.price(current_user.tarifa) %></td> 
                    <td>
                      <%= form_for @order_item, remote: true do |f| %>
                        <%= f.number_field :quantity, value: 1, class: "item_quantity", min: 1 %>
                        <%= f.hidden_field :product_id, value: product.id %>
                        <%= f.hidden_field :tarifa, value: current_user.tarifa %>
                        <%= f.submit "AÑADIR", class: "item_add items" %>
                      <% end %>
                    <% end %>
                  </td> 
                </tr>
              <% end %>
            </tbody> 
          </table>
        </div>
      <% end %>
      <%= paginate @products %>
    </div>
    <div class="rsidebar span_1_of_left">
      <section  class="sky-form">
        <div class="product_right">
          <h4 class="m_2">Familias</h4>     
          <div class="single-bottom">
            <% @categories.each do |c| %>     
              <%= link_to products_path(category: c.s_id) do %>
                <p><%= c.name %></p>
              <% end %>
            <% end %>
          </div>
        </div>    
      </section>     
    </div>
  </div>
</div>
