<div class="header-top navbar-fixed-top">
   <div class="header-bottom">      
        <div class="logo">
          <h1><%= link_to "Raxa", root_path %></h1>          
        </div>
       <!---->     
       <div class="top-nav">
        <ul class="memenu skyblue">
          <%= nav_link "Catálogo", familias_path %>
          <%= nav_link "Empresa", about_path %> 
          <%= nav_link "Contacto", contact_path %>     
        </ul>       
       </div>
       <!---->
          <% if user_signed_in? %>
            <%= link_to('Desconectar', destroy_user_session_path, method: :delete, class: "cart box_1") %> 
            <div class="cart-text">
              <%= render 'layouts/cart_text' %> 
            </div> 
          <% else %>
            <div class="pull-right">
              <ul class="memenu skyblue">
                <li class="grid">  
                  <%= link_to "Entrar", new_user_session_path %>
                </li>       
              </ul>
            </div>
            <div class="clearfix"> </div>
          <% end %>
        
       
       <!---->       
       </div>
      <div class="clearfix"> </div>
</div>